<div class="error text-center"
     *ngIf="error; else postsListBlock"
>
  {{error}}
</div>

<ng-template #postsListBlock>

    <app-filter
      (onFilterPosts)="filterPosts($event)"
      (onCleanInput)="cleanInput()"
      [searchString]="searchString"
    >
    </app-filter>

  <div *ngIf="postsArticles.length">
  <p class="filter-error" *ngIf="searchString.length > 0 && filteredPostsList.length === 0; else postsListBlock">
    К сожалению, по запросу "{{searchString}}" ничего не найдено.
  </p>

<ng-template #postsListBlock>
<div class="container">
  <table class="table" >
  <thead>
  <tr>
    <th>Номер</th>
    <th>Пост</th>
    <th>Описание</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let post of (filteredPostsList.length ? filteredPostsList : postsArticles)">
    <td>{{post.id}}</td>
    <td><a [routerLink]="['/post', post.id]">{{post.title}}</a></td>
    <td>{{post.body}}</td>
  </tr>
  </tbody>
  </table>
</div>
</ng-template>
</div>

</ng-template>
