@import "../../../../assets/styles/page404";

.page404 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;

  .container {
    max-width: 100%;

    .page404__img {
      .button404 {
        margin-top: 250px;
      }
    }
  }
}


