<div class="container">
  <div class="error text-center"
       *ngIf="error; else postsListBlock"
  >
    {{error}}
  </div>

  <ng-template #postsListBlock>
    <app-filter
      (onFilterPosts)="filterPosts($event)"
      (onCleanInput)="cleanInput()"
      [searchString]="searchString"
    >
    </app-filter>

    <ng-container *ngIf="postsArticles.length; else loading">
      <p class="filter-error" *ngIf="searchString.length > 0 && filteredPostsList.length === 0; else postsListBlock">
        К сожалению, по запросу "{{searchString}}" ничего не найдено.
      </p>

      <ng-template #postsListBlock>
        <table class="table" >
          <thead>
          <tr>
            <th>Номер</th>
            <th>Пост</th>
            <th>Описание</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let post of (filteredPostsList.length ? filteredPostsList : postsArticles)">
            <td>{{post.id}}</td>
            <td><a [routerLink]="['/post', post.id]">{{post.title}}</a></td>
            <td>{{post.body}}</td>
          </tr>
          </tbody>
        </table>
      </ng-template>
    </ng-container>
  </ng-template>

  <ng-template #loading>
    <div id="loader"></div>
  </ng-template>

</div>
