<div class="container">
  <div class="error text-center" *ngIf="error">
    {{error}}
  </div>

  <ng-container *ngIf="!error">
    <div *ngIf="isLoading" id="loader"></div>

    <ng-container *ngIf="!isLoading">
      <app-filter
        (onFilterPosts)="filterPosts($event)"
        (onCleanInput)="cleanInput()"
        [searchString]="searchString"
      >
      </app-filter>

      <div class="filter-error" *ngIf="searchString.length > 0 && posts.length === 0; else tablePosts">
        К сожалению, по запросу "{{searchString}}" ничего не найдено.
      </div>

      <ng-template #tablePosts>
        <table class="table" >
          <thead>
          <tr>
            <th>Номер</th>
            <th>Пост</th>
            <th>Описание</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let post of posts">
            <td>{{post.id}}</td>
            <td><a [routerLink]="['/post', post.id]">{{post.title}}</a></td>
            <td>{{post.body}}</td>
          </tr>
          </tbody>
        </table>
      </ng-template>
    </ng-container>
  </ng-container>
</div>
