.container {
  height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  row-gap: 20px;
}

.table {
  overflow: auto;
  height: 80%;
  display: block;
  border-collapse: collapse;
  border: 1px solid #333;
  font-size: 13px;

  tr {
    transition: .2s ease-out;

    &:nth-child(even) {
      background: #f4f4f4;
    }

    &:nth-child(odd) {
      background: #ffffff;
    }

    &:hover {
      background: linear-gradient(90deg, #b9deed, #efefef);
    }

    th {
      padding: 5px 2px;

      background: #cccccc;
      border-bottom: 1px solid #333;
    }

    td {
      padding: 5px 2px;
    }
  }
}
