
  <div class="container">
    <div class="header-content">
      <div class="header-content__title">
        <h3>Тестовое задание</h3>
      </div>
      <div class="header-content__authorization">

        <a *ngIf="authUser" [matMenuTriggerFor]="menu">
          <img src="assets/images/exit.svg" alt="exit">
          <span class="activeSpan">{{authUser.name}}</span>
        </a>

        <mat-menu #menu="matMenu">
          <button (click)="doLogout()" mat-menu-item>
            Выйти
          </button>
        </mat-menu>

        <a *ngIf="!authUser">
          <img src="assets/images/enter.svg" alt="img">
          <span routerLink="/login">Авторизация</span>
        </a>
      </div>
    </div>
  </div>

