<section class="signup" [formGroup]="signupForm" passwordRepeat>
  <div class="container">
    <div class="auth-form">
      <div class="auth-form__left">
        <div class="auth-form__title">
          <h1>Регистрация</h1>
          <p>Добро пожаловать в наше приложение</p>
        </div>
        <div class="auth-inputs">
          <div class="auth-input">
            <input type="text"
                   [ngStyle]="{'border-color': signupForm.get('name')?.invalid
                    && (signupForm.get('name')?.dirty || signupForm.get('name')?.touched) ? 'red' : ''}"
                   placeholder="Имя" formControlName="name">
          </div>
          <div *ngIf="signupForm.get('name')?.invalid && (signupForm.get('name')?.touched || signupForm.get('name')?.dirty)">
            <div class="invalid-feedback" *ngIf="signupForm.get('name')?.errors?.['required']">
              <em>Необходимо ввести ваше Имя</em>
            </div>
            <div class="invalid-feedback" *ngIf="signupForm.get('name')?.errors?.['pattern']">
              <em>Необходимо ввести только русские буквы</em>
            </div>
          </div>

          <div class="auth-input">
            <input type="text"
                   [ngStyle]="{'border-color': signupForm.get('email')?.invalid
                    && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched) ? 'red' : ''}"
                   placeholder="Электронная почта" formControlName="email">
          </div>
          <div *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.touched || signupForm.get('email')?.dirty)">
            <div class="invalid-feedback" *ngIf="signupForm.get('email')?.errors?.['required']">
              <em>Необходимо ввести ваш email</em>
            </div>
          </div>

          <div class="auth-input">
            <input type="password"
                   [ngStyle]="{'border-color': signupForm.get('password')?.invalid
                   && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched) ? 'red' : ''}"
                   placeholder="Пароль" formControlName="password">
          </div>
          <div *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.touched || signupForm.get('password')?.dirty)">
            <div class="invalid-feedback" *ngIf="signupForm.get('password')?.errors?.['required']">
              <em>Необходимо ввести ваш пароль</em>
            </div>
            <div class="invalid-feedback" *ngIf="signupForm.get('password')?.errors?.['pattern']">
              <em>Пароль должен быть не менее 8 символов, содержать как минимум 1 букву в верхнем регистре и как минимум 1 цифру</em>
            </div>
          </div>

          <div class="auth-input">
            <input type="password"
                   [ngStyle]="{'border-color': signupForm.get('passwordRepeat')?.invalid
                   && (signupForm.get('passwordRepeat')?.dirty || signupForm.get('passwordRepeat')?.touched) ? 'red' : ''}"
                   placeholder="Повторите пароль" formControlName="passwordRepeat">
          </div>
          <div *ngIf="signupForm.get('passwordRepeat')?.invalid && (signupForm.get('passwordRepeat')?.touched || signupForm.get('passwordRepeat')?.dirty)">
            <div class="invalid-feedback" *ngIf="signupForm.get('passwordRepeat')?.errors?.['required']">
              <em>Необходимо ввести пароль еще раз</em>
            </div>
            <div class="invalid-feedback" *ngIf="signupForm.controls.passwordRepeat.value !== signupForm.controls.password.value">
              <em>Пароли должны совпадать</em>
            </div>
          </div>

          <div class="auth-checkbox">
            <input type="checkbox" id="remember" formControlName="rememberMe">
            <label for="remember">Запомнить меня</label>
          </div>
          <div class="auth-button">
            <button class="button" [disabled]="signupForm.invalid" (click)="signup()">Войти</button>
          </div>
          <div class="auth-link">
            Уже есть аккаунт? <a routerLink="/login">Войдите</a>
          </div>
        </div>
      </div>
      <div class="page-image">
        <img src="assets/images/authImg.png" alt="img">
      </div>
    </div>
  </div>
</section>
